/* Base styles for the body element */
body {
  font-family: sans-serif;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
}

/* Styles for heading elements */
h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-weight: bold;
}

/* Styles for paragraphs */
p {
  margin: 10px 0;
  line-height: 1.5;
}

/* Styles for links */
a {
  color: #0066cc;
  text-decoration: none;
  font-weight: 800;
}

a:hover {
  text-decoration: underline;
  font-weight: 800;
}

/* Container for main content */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Footer styles */
footer {
  background-color: #f0f0f0;
  color: #666666;
  text-align: center;
  font-size: 12px;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Navigation styles */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: #333;
  color: #fff;
  padding: 10px;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #333;
  color: #fff;
  list-style: none;
  padding: 10px;
  font-weight: normal;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px; /* add padding to the top and bottom and left and right of the element */
  display: inline-block; /* make the button wider */
  background-color: #333; /* add a background color to the button */
  border: none; /* remove the default border around the button */
  border-radius: 5px; /* add rounded corners to the button */
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
  font-weight: normal;
}

nav a:hover {
  background-color: #666; /* change the background color to a darker shade of grey when hovered */
  font-weight: normal;
}

nav a:active {
  background-color: #999; /* change the background color to an even darker shade of grey when clicked */
  font-weight: normal;
}
